.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80vw;
}

.filter {
  display: flex;
  justify-content: flex-end;
  width: 85vw;
  margin: 20px;
}
