.header {
  background-color: #060607;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.links {
  color: white;
  padding: 10px;
}
