body {
  background-color: #060607;
  background: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  border-style: double;
  color: azure;
}

.anchor-style {
  text-decoration: none !important;
  cursor: pointer !important;
}
